body {
  margin: 0;
  height: 100%;
  font-family: "Poppins", sans-serif;
  background-image: url(./images/background.jpg);
  backdrop-filter: blur(5px);
}

/*.navbar-brand {
  color: white;
  font-weight: 700;
  animation-name: logo;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transition: all 0.3s;
  &:hover {
    color: rgba(255, 255, 255, 0.7);
  }
}
@keyframes logo {
  50% {
    transform: scale(1.05);
  }
}*/

#menuLeft,
#menuRight {
  display: flex;
  align-items: center;
}

#menuRight {
  gap: 20px;
}

.nav-link {
  color: white;
  transition: all 0.5s;
  &:visited {
    color: white;
  }
}

.nav-link:hover,
.nav-item span:hover {
  color: rgb(255, 176, 39);
}

#logout {
  cursor: pointer;
  transition: all 0.5s;
  color: white;
}

#logout:hover {
  color: rgb(177, 34, 34);
}

/* #active {
  color: rgba(255, 255, 255, 0.5);
  &:hover {
    color: white;
  }
} */

.navbar-toggler {
  background-color: rgba(255, 255, 255, 0.2);
  &:hover {
    box-shadow: none;
  }
}

main {
  display: flex;
  justify-content: center;
  padding: 70px;
}

h1 {
  text-align: center;
  color: white;
  margin: 60px 0;
  font-size: 50px;
  font-weight: 600;
}

.contenedor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  margin: 0 100px;
  padding-bottom: 159px;
  gap: 45px;
  flex-wrap: wrap;
  justify-content: center;
}
.contenedor p {
  color: white;
  padding: 192px 0;
  font-size: 40px;
  font-weight: 500;
}

.carta {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 310px;
  height: 430px;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  padding: 40px 0 20px 0;
  transition: all 0.5s;
  box-sizing: unset;

  img {
    width: 100%;
  }

  h3 {
    margin: 25px 0 0 0;
    font-size: 22px;
    font-weight: 700;
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 15px 25px 15px 0px rgba(0, 0, 0, 0.6);
  }
}

.productos .carta .precio {
  margin: 30px;
}

.precio {
  font-size: 20px;
}

.carta button:not(.buttonresp) {
  height: 40px;
  width: 120px;
  border-radius: 25px;
  border-style: none;
  color: white;
  font-weight: 600;
  background-color: rgb(255, 176, 39);
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carta button {
  transition: ease-out 0.3s;

  i {
    font-size: 23px;
    margin-right: 3px;
  }

  &:hover {
    background-color: rgb(231, 150, 9);
  }
}

.cajaprecio {
  margin: auto 0 auto 0;
  display: flex;
  align-items: center;
}

.carrito {
  margin-top: auto;
  margin-bottom: 20px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
  display: flex;
}

img {
  height: 200px;
}

.filterBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 100px;
  gap: 5px;
}

.categories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 20px;
}

.categories button {
  height: 40px;
  color: white;
  font-size: 20px;
  border: none;
  outline: none;
  background: none;
  transition: all 0.5s;
}

.categories button:hover {
  color: rgb(255, 176, 39);
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search button {
  border: none;
  outline: none;
  height: 40px;
  background: none;
  color: white;
  text-align: center;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

.search input {
  transition: all 0.5s;
}

.search input:hover,
.search button:hover {
  transform: scale(1.03);
}

input {
  outline: none;
  border: none;
  border-radius: 20px;
  height: 40px;
  text-indent: 10px;
}

.email input,
.password input {
  background: none;
  color: white;
}

.email input::placeholder,
.password input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.email,
.password {
  transition: all 1s;
}

.email:hover,
.email:active,
.password:hover,
.password:active,
.login button:hover {
  transform: scale(1.08);
}

.login {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login h1 {
  margin: 0 0 20px 0;
}

.login form {
  display: flex;
  flex-direction: column;
  gap: 60px;
  color: white;
  font-size: 20px;
  align-items: center;
}

.login button {
  max-width: 200px;
  border: none;
  outline: none;
  padding: 20px;
  border-radius: 50px;
  background: rgba(255, 255, 255);
  color: black;
  margin-top: 20px;
  transition: all 0.4s;
}

.login button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.email,
.password {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  text-indent: 10px;
  i {
    font-size: 30px;
    margin-right: 10px;
  }
}

.login p {
  display: none;
  align-items: center;
  justify-content: center;
  color: red;
  font-weight: 600;
  margin: 0;
}
