body {
  margin: 0;
  height: 100%;
  font-family: "Poppins", sans-serif;
  background-image: url(./images/background.jpg);
  background-size: cover;
  backdrop-filter: blur(5px);
}

.navbar-brand {
  color: white;
  font-weight: 700;
  animation-name: logo;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transition: all 0.3s;
  &:hover {
    color: rgba(255, 255, 255, 0.7);
  }
}

/*@keyframes logo {
  50% {
    transform: scale(1.05);
  }
}*/

.nav-link {
  color: white;
  transition: all 0.5s;
  &:visited {
    color: white;
  }
}

.nav-link:hover,
.nav-item span:hover {
  color: rgb(255, 176, 39);
}

.nav-item {
  display: flex;
  gap: 20px;
  font-weight: 500;
  align-items: center;
  color: white;
}

#logout {
  cursor: pointer;
  transition: all 0.5s;
}

#logout:hover {
  color: rgb(177, 34, 34);
}

/* #active {
  color: rgba(255, 255, 255, 0.5);
  &:hover {
    color: white;
  }
} */

.navbar-toggler {
  background-color: rgba(255, 255, 255, 0.2);
  &:hover {
    box-shadow: none;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 93.9dvh;
}

.detalles {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px;
  transition: all 0.5s ease-out;
}
.detalles h1 {
  margin: 0;
  color: white;
  font-size: 50px;
  font-weight: 600;
}
.detalles h2 {
  margin-top: 12px;
  color: white;
  font-size: 28px;
  font-weight: 500;
}

.contenido {
  display: flex;
  margin: 130px 0;
  gap: 100px;
}
.contenido img {
  height: 300px;
  width: 400px;
  border-radius: 0.5rem;
  transition: all 0.5s ease-in-out;
}
.contenido img:hover {
  transform: scale(1.1);
  box-shadow: 15px 25px 15px 0px rgba(0, 0, 0, 0.6);
}

.descripcion {
  display: flex;
  flex-direction: column;
}
.descripcion p,
span {
  color: white;
  font-size: 20px;
  font-weight: 400;
}
.descripcion p {
  max-width: 500px;
  margin: 30px 0;
}

.input-group {
  height: 40px;
  margin: 0 0 12px 0;
}
.input-group input {
  text-align: center;
}

.comprar,
.login {
  height: 50px;
  outline: none;
  border: 2px solid white;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
  transform-origin: center;
}
.login {
  margin: 30px 0;
}
.comprar:hover {
  background-color: #28a742;
  border-color: #28a742;
  transform: scale(1.1);
}
.login:hover {
  background-color: rgb(255, 176, 39);
  border-color: rgb(255, 176, 39);
  transform: scale(1.1);
}

.botones {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 50px auto 0 auto;
}
